const createExpoWebpackConfigAsync = require('@expo/webpack-config');

module.exports = async function (env, argv) {
  const config = await createExpoWebpackConfigAsync(env, argv);
  
  // Asegurar que las fuentes se carguen correctamente
  config.module.rules.push({
    test: /\.ttf$/,
    loader: "url-loader",
    options: {
      limit: 10000,
      mimetype: "application/octet-stream",
    },
  });
  
  return config;
};